<div class="container-fluid">
  <form [formGroup]="formGroup" (ngSubmit)="loginProcess()">
    <h1>Login Page</h1>
   <div class="form-group">
      <legend>Mobile Number</legend>
      <fieldset>
        <select aria-placeholder="country" name="country" id="country" formControlName="country">
          <option data-countryCode="IND" value="91" Selected>IND (+91)</option>
          <option data-countryCode="AUS" value="61">AUS (+61)</option>
        </select>
          <input type="number" name="mobile" class="form-control" placeholder="Mobile number" formControlName="mobile">
      </fieldset>
      <legend>Password</legend>
      <fieldset>
        <input type="password" name="password" class="form-control" placeholder="Enter password" formControlName="password">
      </fieldset>
      <button type="submit" class="btn btn-group btn-succes">Login</button>
   </div>
  </form>
</div>
